{% extends 'base.html' %}

{% block Title %}

    Список городов

{% endblock Title %}

{% block Body %}

    <h1>Список городов</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                {% for zapis in page_obj %}
                    <tr>
                        <td class="col-md-4">
                            <a href="{% url 'cities:detail' pk=zapis.id %}">
                                {{ zapis.name }}
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a href="{% url 'cities:update' pk=zapis.id %}">
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a href="{% url 'cities:delete' pk=zapis.id %}">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </a>

                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
<!-- Pagination Controls from the Django Doc -->

<!-- Pagination controls from Getbootstrap.com -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-left">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="page-item active" aria-current="page">
            {% else %}
                <li class="page-item">
            {% endif %}

                    <a class="page-link" href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        {% endif %}
      </ul>
    </nav>
    <!-- Форма -->
    <div class="row">
        <div class="col-md-3">
            <form action="" method="post">

                {% csrf_token %}
        <!--    <label for="inpt_city">Город:</label><br>
              <input type="text" id="inpt_city" name="name" value=""><br>
        -->
                {{ form.as_p }}
                <input type="submit" value="Добавить">
            </form>
        </div>
    </div>


{% endblock Body %}
